{{/* Derive lowest price from the three retailer price fields */}}
{{- $prices := slice -}}
{{- if .Params.affiliate_price_1 }}{{- $prices = $prices | append (.Params.affiliate_price_1 | float) -}}{{- end -}}
{{- if .Params.affiliate_price_2 }}{{- $prices = $prices | append (.Params.affiliate_price_2 | float) -}}{{- end -}}
{{- if .Params.affiliate_price_3 }}{{- $prices = $prices | append (.Params.affiliate_price_3 | float) -}}{{- end -}}
{{- $lowest := "" -}}
{{- if $prices }}{{- $lowest = index (sort $prices) 0 -}}{{- end -}}

{{- $desc := printf "%s A %s in the %s tier. %s" .Params.machine_name .Params.category .Params.tier (.Params.who_its_for | truncate 200) -}}

{{/* Build the schema as a map, then marshal once and mark safe so the
     html/template autoescaper does not re-encode the JSON inside <script>. */}}
{{- $data := dict
  "@context" "https://schema.org/"
  "@type" "Product"
  "name" .Params.machine_name
  "category" .Params.category
  "description" $desc
-}}
{{- with .Params.manufacturer -}}
  {{- $data = merge $data (dict "brand" (dict "@type" "Brand" "name" .)) -}}
{{- end -}}
{{- if $lowest -}}
  {{- $data = merge $data (dict "offers" (dict
      "@type" "AggregateOffer"
      "priceCurrency" "USD"
      "lowPrice" (printf "%v" $lowest)
      "offerCount" (printf "%d" (len $prices))
      "availability" "https://schema.org/InStock")) -}}
{{- end -}}

<script type="application/ld+json">
{{ $data | jsonify (dict "indent" "  ") | safeJS }}
</script>
